name: Build wheels

on:
  workflow_dispatch:

jobs:
  build:
    name: build on ${{ matrix.os }} (${{ matrix.target }} - ${{ matrix.interpreter || 'all' }}${{ matrix.os == 'linux' && format(' - {0}', matrix.manylinux == 'auto' && 'manylinux' || matrix.manylinux) || '' }})
    strategy:
      fail-fast: false
      matrix:
        os: [linux, macos, windows]
        target: [undefined]
        manylinux: [auto]
        include:
          # manylinux for various platforms
          # x86_64 and aarch64 are PGO optimized below
          - os: linux
            manylinux: auto
            target: i686
          - os: linux
            manylinux: auto
            target: armv7
            interpreter: 3.10 3.11 3.12 3.13 
          - os: linux
            manylinux: auto
            target: ppc64le
            interpreter: 3.10 3.11 3.12 3.13 
          - os: linux
            manylinux: auto
            target: s390x
            interpreter: 3.10 3.11 3.12 3.13 
          - os: linux
            manylinux: auto
            target: x86_64
            interpreter: pypy3.10 pypy3.11 graalpy3.11 graalpy3.12

            # manylinux pypy and graalpy on major architectures
          - os: linux
            manylinux: auto
            target: x86_64
            interpreter: graalpy3.11 graalpy3.12
          - os: linux
            manylinux: auto
            target: aarch64
            interpreter: graalpy3.11 graalpy3.12

          # musllinux
          - os: linux
            manylinux: musllinux_1_1
            target: x86_64
          - os: linux
            manylinux: musllinux_1_1
            target: aarch64
          - os: linux
            manylinux: musllinux_1_1
            target: armv7

          # macos;
          # all versions x86_64
          # arm pypy and older pythons which can't be run on the arm hardware for PGO
          - os: macos
            target: x86_64
            interpreter: 3.10 3.11 3.12 3.13  pypy3.10 pypy3.11 graalpy3.11 graalpy3.12
          - os: macos
            target: aarch64
            interpreter: pypy3.10 pypy3.11 graalpy3.11 graalpy3.12

          # windows;
          # x86_64 pypy builds are not PGO optimized
          # i686 not supported by pypy
          # windows 11 arm supports 3.11 and up, not PGO optimized for now
          - os: windows
            target: x86_64
            interpreter: pypy3.10 pypy3.11
          - os: windows
            target: i686
            python-architecture: x86
            interpreter: 3.10 3.11 3.12 3.13 
          - os: windows
            target: aarch64
            runs-on: windows-11-arm
            interpreter: "3.11 3.12 3.13 "

        exclude:
          # was just a dummy variable to set a default value for target
          - target: undefined

    runs-on: ${{ matrix.runs-on || format('{0}-latest', (matrix.os == 'linux' && 'ubuntu') || matrix.os) }}
    steps:
      - uses: actions/checkout@v4

      - name: set up python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"
          architecture: ${{ matrix.python-architecture || 'x64' }}

      - run: pip install -U twine ruff typing_extensions

      - name: build wheels
        uses: PyO3/maturin-action@v1
        with:
          target: ${{ matrix.target }}
          manylinux: ${{ matrix.manylinux }}
          args: --release --out dist --interpreter ${{ matrix.interpreter || '3.10 3.11 3.12 3.13  pypy3.10 pypy3.11' }}
          rust-toolchain: stable
          docker-options: -e CI

      - run: ${{ (matrix.os == 'windows' && 'dir') || 'ls -lh' }} dist/

      - run: twine check --strict dist/*

      - uses: actions/upload-artifact@v4
        with:
          name: pypi_files_${{ matrix.os }}_${{ matrix.target }}_${{ matrix.interpreter || 'all' }}_${{ matrix.manylinux }}
          path: dist
